<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ibuk.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ibuk.price %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @ibuk.uid %>
</p>

<p>
  <strong>User:</strong>
  <%= @ibuk.user %>
</p>

<%= link_to 'Edit', edit_ibuk_path(@ibuk) %> |
<%= link_to 'Back', ibuks_path %>
